.header {
  text-align:center;
  font-family:Garamond;
  line-height: 150%;
}

.himalayan-times {
  color: #B10DC9;
}

.headlines {
  color: #F012BE;
}

.sub-header {
  font-family:Garamond;
  text-align:center;
  line-height: 125%;
  color: #001f3f;
  margin-bottom: 40px;
}

.news-box {
  margin-left: 10%;
}

.prompt {
  color: #F012BE;
}

.headline {
  line-height: 125%;
  color: #111111;
}
