<h1 class="header">HimalayanTimes Headlines</h1>
<h4 class="time"><%=Time.new.to_s%></h4>
<div class="container">
<% @headlines.each do |headline| %>
  <div class="row margin-left">
    <%=headline%>
  </div>
<% end %>
</div>
