<!DOCTYPE HTML>
<html>
  <head>
    <title>Himalayan Times Headlines</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
